*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #f7f1f1;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#app{
	background-color: #090124;
}